<a href="https://colab.research.google.com/github/RAV10K1/rav10k1.github.io/blob/master/Project_Build_1_Deposit_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Journey Through the History of Deposits Held By US Financial Institutions (1934 to 2018)
This data story is a historical exploration of deposits held by financial institutions in the United States going back from 1934 to 2018. The motivation behind this analysis is to present a visual perspective of the trend of the deposits during this period. 

The size of the United States economy is simply staggering. As of the latest estimate for Q4 2019, US GDP was measured at an astounding US $ 21.73 trillion. (www.bea.gov)

This project is based on publicly available data obtained from the Federal Deposit Insurance Corporation (FDIC) database. (https://banks.data.fdic.gov/explore/historical/)

A few things to note.
* This is not an in-depth analysis of the financial services industry but only a visualization of the US deposit base.
* Due to resource constraints the dataset has been cleaned and maintained to keep it as simple as possible with only relevant features selected and presented.

In [1]:
# Importing file from local system
from google.colab import files

uploaded = files.upload()

Saving bank-data (1).csv to bank-data (1).csv

In [0]:
# Defining file path
file_path = '/content/bank-data (1).csv'

In [0]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Reading file into Dataframe
df_deposits = pd.read_csv(file_path)
df_deposits.head()

   YEAR  ...                    LOCATIONS
0  2018  ...  United States & Other Areas
1  2017  ...  United States & Other Areas
2  2016  ...  United States & Other Areas
3  2015  ...  United States & Other Areas
4  2014  ...  United States & Other Areas

[5 rows x 22 columns]

In [0]:
df_deposits.rename({'BANKS' :'NUMBER OF BANKS'}, axis=1, inplace=True)

In [6]:
df_deposits.head()

   YEAR  ...                    LOCATIONS
0  2018  ...  United States & Other Areas
1  2017  ...  United States & Other Areas
2  2016  ...  United States & Other Areas
3  2015  ...  United States & Other Areas
4  2014  ...  United States & Other Areas

[5 rows x 22 columns]

In [0]:
# Setting up plotly to run in Colab
def enable_plotly_in_cell():
    import IPython
    from plotly.offline import init_notebook_mode
    display(IPython.core.display.HTML('''<script src="/static/components/requirejs/require.js"></script>'''))
    init_notebook_mode(connected=False)